* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

section {
    display: flex;

}

.loanding {
    background-color: white;

}

.loading_text {
    width: 50%;
    margin: 50px;
    padding: 130px 10px 5px 90px;
}

.landing_text {
    color: coral;

}

.blak_text {
    color: black;
    margin: 5px;
}

.loading_text button {
    background-color: coral;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
}

.loading_text button a {
    color: white;
    text-decoration: none;
}

.landing_img {
    width: 50%;
}

.landing_img img {
    width: 75%;
}


.second {
    display: flex;

}

.second_sec {
    width: 50%;
}

.second_sec img {
    width: 70%;
}

.second_sec_t {
    width: 50%;
    margin: 50px;
    padding: 130px 10px 5px 90px;

}

.second_sec_t button {

    background-color: coral;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
}

.second_sec_t button a {

    color: blueviolet;
    text-decoration: none;
}

section {
    display: flex;

}

.proj {
    text-align: center;


}

.colour {
    color: coral;
}

.shadow {
    box-shadow: 2px 2px 5px black;
    border-radius: 5%;
    width: 30%;
    margin: 2.5%;
    padding: 10px;

}

.shadow img {
    width: 80%;
    margin: 2.5%;
    padding: 10px;
}

.shadow img img {
    width: 90%;

    padding: 10px;
}